{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Добавить новую запись</h1>
    <a href="{{ path('app_post_index') }}" class="btn btn-outline-primary">Назад</a>
    {{ include('post/_form.html.twig') }}
{% endblock %}
