<h1>Подтвердите вашу электронную почту!</h1>

<p>
    Недавно вы регистрировались на сайте, чтобы ваша страница была активной, подтвердите вашу электронную почту, нажав на ссылку: <br><br>
    <a href="{{ signedUrl|raw }}" target="_blank">{{ signedUrl|raw }}</a>.
</p>
    Ссылка действует в течение {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
